/* pseudoelemento affter*/
.ejemplo-text::after {
    content: " <- Hola!!!!!!";
  color: violet;
}
/*pseudoelemntos before*/
q::before{
    content: ":)";
    color: red;
}
::first-letter {
    color:blue;
  font-size: 130%;
}