/* pseudoelemento affter*/
.ejemplo-text::after {
    content: " <- Hola!!!!!!";
  color: violet;
}
/*pseudoelemntos before*/
q::before{
    content: ":)";
}
p::first-letter {
    color:blue;
  font-size: 130%;
}
/*::first-line*/
p::first-line {
    color: pink;
}