/* pseudoelemento affter*/
.ejemplo-text::after {
    content: " <- Hola!!!!!!";
  color: violet;
}
/*pseudoelemntos before*/
q::before{
    content: ":)";
}
/*first::first-letter*/
p::first-letter {
    color:blue;
  font-size: 130%;
}
/*::first-line*/
p::first-line {
    color: pink;
}
/*placeholder*/
input::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
  }
  /*::marker*/
  ul li::marker {
    color:violet;
    font-size: 1g.5em;
  }
  /*spelling error*/
  ::spelling-error  {
    text-decoration: wavy red;
  }
  /*grammar error*/
::grammar-error {
    text-decoration: underline rgb(0, 255, 42);
    color:rgb(0, 255, 42);
  }